{% extends "base.html" %}

{% block main %}
<style>
 .column {
   border: 1px solid black;
 }

 td,th {
   text-align: right;
 }
</style>

<main>
  <h1>KiKIT's Friendly Publication Helper</h1>
  <div>
    Last generated: {{ now().isoformat() }}
  </div>

  <div class="container">
    <div class="columns">
      {% for entry in data %}
      <div class="column col-3">
	<h2><a href="{{entry.name}}.html">{{entry.name}}</a></h2>

	<table class="table">
	  <tr>
	    <th>Year</th>
	    <th>All</th>
	    <th>DBLP</th>
	    <th>KIT</th>
	    <th>PoF-4</th>
	    <th>KiKIT</th>
	  </tr>
	  {% for year, line in entry.years.items() %}
	  <tr>
	    <td>{{year}}</td>
	    <td>{{line.everything}}</td>
	    <td><acronym title="{{"%2.f"|format(line.dblp*100/line.everything)}}%">{{line.dblp}}</acronym></td>
	    <td><acronym title="({{"%2.f"|format(line.kit*100/line.everything)}}%)">{{line.kit}}</acronym></td>
	    <td><acronym title="({{"%2.f"|format(line.ess*100/line.everything)}}%)">{{line.ess}}</acronym></td>
	    <td><acronym title="({{"%2.f"|format(line.kikit*100/line.everything)}}%)">{{line.kikit}}</acronym></td>
	  </tr>
	  {% endfor %}

	  {% set line = entry.all %}
	  <tr>
	    <th>Sum:</td>
	    <th>{{line.everything}}</td>
	    <th>{{line.dblp}}   ({{"%2.f"|format(line.dblp*100/line.everything)}}%)</th>
	    <th>{{line.kit}}     ({{"%2.f"|format(line.kit*100/line.everything)}}%)</th>
	    <th>{{line.ess}}     ({{"%2.f"|format(line.ess*100/line.everything)}}%)</th>
	    <th>{{line.kikit}} ({{"%2.f"|format(line.kikit*100/line.everything)}}%)</th>
	  </tr>

	</table>
      </div>
      {% endfor %}
    </div>
  </div>
</main>
{% endblock %}
