{% extends "base.html" %}

{% block main %}
<style>
 .column {
   border: 1px solid black;
 }

 td,th {
   text-align: right;
 }

</style>

<main>
  <h1>KiKIT's Friendly Publication Helper</h1>
  <div>
    Last generated: {{ now().isoformat() }}
  </div>
  <div>
	KiKIT report ratio per year:
	{% for i in range(0, 101, 10) %}
	<span style="background:hsl( 90deg, 50%, {{i/100.0*-50+100}}%); padding: 0.2em; margin: 0.1em;">{{i}}%</span>
	{% endfor %}
  </div>

  <div class="container">
    <div class="columns">
      {% for entry in data %}
      <div class="column col-3">
	<h2><a href="{{entry.name}}.html">{{entry.name}}</a></h2>
	<table class="table">
	  <tr>
	    <th>Year</th>
	    <th>All</th>
	    <th>DBLP</th>
	    <th>KIT</th>
	    <th>PoF-4</th>
	    <th>KiKIT</th>
	  </tr>
	  {% for year, line in entry.years.items() %}      
  	    {% set everything = line.everything %}
        {% if everything == 0 %} {% set everything = 0.000000001 %} {%endif%}

        
	  <tr style="background:hsl( 90deg, 50%, {{(-0.5*line.kikit*100/line.everything)+100}}%)">	
	    <td>{{year}}</td>
	    <td>{{line.everything}}</td>
	    <td><acronym title="{{"%2.f"|format(line.dblp*100/everything)}}%">{{line.dblp}}</acronym></td>
	    <td><acronym title="({{"%2.f"|format(line.kit*100/everything)}}%)">{{line.kit}}</acronym></td>
	    <td><acronym title="({{"%2.f"|format(line.ess*100/everything)}}%)">{{line.ess}}</acronym></td>
	    <td><acronym title="({{"%2.f"|format(line.kikit*100/everything)}}%)">{{line.kikit}}</acronym></td>
	  </tr>
	  {% endfor %}

      {% set line = entry.all %}
  	  {% set everything = line.everything %}
      {% if everything == 0 %} {% set everything = 0.000000001 %} {%endif%}
	  <tr>
	    <th>Sum:</td>
	    <th>{{everything}}</td>
	    <th>{{line.dblp}}   ({{"%2.f"|format(line.dblp*100/everything)}}%)</th>
	    <th>{{line.kit}}     ({{"%2.f"|format(line.kit*100/everything)}}%)</th>
	    <th>{{line.ess}}     ({{"%2.f"|format(line.ess*100/everything)}}%)</th>
	    <th>{{line.kikit}} ({{"%2.f"|format(line.kikit*100/everything)}}%)</th>
	  </tr>

	</table>
      </div>
      {% endfor %}
    </div>
  </div>
</main>
{% endblock %}
