{% extends "base.html" %}

{% block main %}
<style>
 body {font-size:60%;}
 .panel { border: none !important; }
 .column {     border-bottom: 1px solid black;
     padding-bottom:1.5em;
     margin-bottom:1.5em;
 }

 td,th {
     text-align: right;
 }

 .collapse, .collapsed {
     display:none;
 }

 .collapse.in {
     display:block;
 }

 table, .table  {
     width:auto !important;
 }

 .table td, .table th {
     padding:1ex;
 }

 th.info, td.info {
     background: lightblue;
 }

 #key-figures-table-0-heading { display: none;}
 
</style>

<main>
  <h1>KiKIT's Friendly Publication Helper</h1>
  <div>
      Last generated: {{ now().isoformat() }}
  </div>

  <div>
      <strong>Jump to:</strong>
      {% for entry in data %}
      <a href="#{{entry.name}}">#{{entry.name}}</a> &nbsp;&nbsp;&mid;&nbsp;&nbsp;
      {% endfor %}
  </div>

  
  
  <div class="container">
    <div class="columns">
      {% for entry in data %}
      <div class="column col-12">

          <h2><a href="{{entry.name}}.html" id="{{entry.name}}">{{entry.name}}</a></h2>
          <div>
              <p>
                  <a href="{{entry.api}}">API Call</a> &mid;
                  <a href="{{entry.url}}">Website</a>

                  {% if entry.url2%}
                  &mid;                  <a href="{{entry.api2}}">API Call</a> &mid;
                  <a href="{{entry.url2}}">Website</a>

                  &mid;                  <a href="{{entry.api_all}}">API Call</a> &mid;
                  <a href="{{entry.url_all}}">Website</a>
                  {%endif%}
              </p>

              <h3>Tagged for KiKIT</h3>
              <div>              
                  {{entry.content | safe}}
              </div>
              {%if entry.url2%}
              <h3><b>NOT</b> Tagged for KiKIT</h3>
              <div>              
                  {{entry.content2 | safe}}
              </div>

              <h3>All Publications</h3>
              <div>              
                  {{entry.content_all | safe}}
              </div>
              {%endif%}
          </div>
      </div>
      {%endfor%}
    </div>
  </div>
</main>
{% endblock %}
