{% extends "base.html" %}

{% macro bibentry(entry) %}

{% endmacro %}


{% block main %}
<style>
  .authors {font-size:80%; font-style:italics;}
 textarea {
   font-family: monospace;
   hyphens: auto;
   width:100%;
 }

 .True {
   background: rgba(0,255,0,.3);
   text-align:center;
 }

 .False {
   background: rgba(255,0,0,0.3);
   text-align:center;
 }

 .doi, .kitid {
   font-size:70%; font-family:monospace;
 }
</style>



<main>
  <h1>{{name}}</h1>

  <div>
    Last generated: {{ now().isoformat() }}
  </div>

  <div>
    <a href="{{name}}.csv">Export as CSV file</a>

    <a href="https://dblp.uni-trier.de/pid/{{pis[name]["dblp"]}}.html">
      <i class="ai ai-dblp"></i> DBLP (HTML)
    </a>

    <a href="https://dblp.uni-trier.de/pid/{{pis[name]["dblp"]}}.xml">
      <i class="ai ai-dblp"></i> DBLP (XML)
    </a>

    <a href="https://publikationen.bibliothek.kit.edu/auswertungen/?kit_tagging=11784.105OR11825.105OR11785.105OR11786.105OR11980.105OR11829.105OR11829.105OR11829.105OR11889.105OR11965.105OR11938.105OR12196.105&external_publications=all&open_access_availability=do_not_care&full_text=do_not_care&key_figures=number_of_publications&year=2010-&consider_online_advance_publication_date=true&consider_suborganizations=true&consider_predecessor_organizations=false&in_opac=true&column=year&contributors=%5B%5B%5B%5D%2C%5B%22{{pis[name]["kit"]}}%22%5D%5D%5D&row=in_wos_or_scopus">
      <i class="ai ai-library"></i> KIT-Library
    </a>
  </div>

  <div>
    <a href="#" onclick="selectAll();">Select all publication.</a>
  </div>

  <details>
    <summary style="font-weight: bold; font-size:120%"><i class="ai ai-scopus"></i>Scopus check of unindexed publications in KIT-Library</summary>
    <p>
      The following publications are not indexed by the KIT-Library but were found in Scopus by title:
      <ul>
        {% for entry in scopus["found"] %}
        <li>{{entry["TITLE"]}} <br>
          KIT-id: <a href="https://publikationen.bibliothek.kit.edu/{{entry["KIT-ID"]}}">{{entry["KIT-ID"]}}</a>
          <br>
          <a href="https://www.scopus.com/pages/publications/{{entry["SCOPUS-ID"]}}">SCOPUS-ID: {{entry["SCOPUS-ID"]}}</a>
          <br> 
          DATE: {{entry["DATE"]}}
          <br>
          Venue: {{entry["VENUE"]}}
        </li> 
        {% endfor %}
      </ul>
    </p>
    <p>
      The following publications are not indexed by the KIT-Library and were not found in Scopus:
      <ul>
        {% for entry in scopus["not_found"] %}
        <li>{{entry}}</li>
        {% endfor %}
      </ul>
    </p>
  </details>  


  <table class="table">
    <tr>
      <th><abbrev title="Select publication for tagging per mail. (see below)">#</abbrev></th>
      <th>Title</th>
      <th>Year</th>
      <th>DBLP</th>
      <th>Library</th>
      <th>PoF-4</th>
      <th>KiKIT</th>
    </tr>

    {% for entry in entries %}
    <tr>
      <td><input type="checkbox" id="{{entry.doi}}"
		 x-title="{{entry.title}}"
		 x-doi="{{entry.doi}}" x-kitid="{{entry.kit_id}}">
      <td>
	<label for="{{entry.doi}}">
	  {{ entry.title }}<br>
	  <span class="authors">{{ entry.authors }}</span>
	  </label>
	<br>
	<span class="doi"><a href="https://doi.org/{{entry.doi}}"><i class="ai ai-doi"></i>{{entry.doi}}</a></span>
	{% if entry.kit_id %}
	&nbsp;	&nbsp;
	<span class="kitid"><a href="https://publikationen.bibliothek.kit.edu/{{entry.kit_id}}"><i class="ai ai-archive"></i>{{entry.kit_id}}</a></span>
	{% endif %}
      </td>
      <td>{{ entry.year }}</td>
      <td class="{{ entry.dblp }}">&nbsp;</td>
      <td class="{{ entry.kit }}">&nbsp;</td>
      <td class="{{ entry.ess }}">&nbsp;</td>
      <td class="{{ entry.kikit }}">&nbsp;</td>
    </tr>
    {% endfor %}
  </table>



  <h2>Mail for the library</h2>

  <a id="send" href="#">Open in mail program for sending to KITopen@bibliothek.kit.edu</a><br/>

  <textarea id="txt" rows="25"></textarea>

  <!--
  <details>
    <summary>KiKIT</summary>
    {% for entry in kikit %}
    {{ bibentry(entry) }}
    {% endfor %}
  </details>

  <details>
    <summary>DBLP</summary>
    {% for entry in dblp %}
    {{ bibentry(entry) }}
    {% endfor %}
  </details>

  <details>
    <summary>All publication in the library</summary>
    {% for entry in bib %}
    {{ bibentry(entry) }}
    {% endfor %}
  </details>
  -->
</main>

<script language="javascript">
 let PI_NAME = "{{name}}";
</script>

{% endblock %}
